/* .App {
  text-align: center;
} */
/* #hom-main-div::-webkit-scrollbar{
  width: 50px;
} */
#qty{
  width: 100px;
  height: 30px;
}

/* .App-logo {
  height: 40vmin;
  /* pointer-events: none; */
/* } */

#hom-main-div::-webkit-scrollbar {
  width: 10px;
}
#hom-main-div::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #2c0707;
  border: 1px solid #cacaca;
}
.home-search-box{
  border-left: none;
  border-top: none;
  border-right: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.home-search-box:focus{
  outline: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


p{
  color: red;
  font-size: small;
}
.Container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  height: 80px;
}

.icons{
  width: 200px;
  display: flex;
  justify-content: space-around;
}


.home-list{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: #38a8d8;
}

#btn-home-login{
  transition: background-color 0.5s ease;
  border-color: black;
  color: black;
  background-color: white;
  

}
#btn-home-login:hover{
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  transition: all 0.1s ease-out;
  top: -1px;
  border-color: rgb(124, 202, 8);

  
}
#btn-addtocart{
  background-color: #fff;
  color: orangered;
  border-color: orangered;
}

#cart-buy-btn{
  background-color: orangered;
  border: none;
}
#cart-delete-btn{
  background-color: rgb(237, 236, 236);
  color: black;
  border-color: black;
}
#cart-qty-btn{
  background-color:white ;
  color: black;
  border-color: black;

}

.home-card:hover{
  transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -1px;
    right:-1px;
    border: 1px solid #cccccc;
}
.searchItem{
  width: 200px;
  height: 30px;
}

.ms-3{
  
  margin:5px
}

.mt-2{
  width:100%;
}

.pay:hover{
  
  background-color: #d4d4d4;
}

.Admin{
  display: flex;
}
/* .Admin-user-text{
  width: 15%;
  
} */
.Admin-login{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.left-Admin-page{
  background-color: rgb(25,25,25);
  height: 100vh;
  width: 20%;
  padding-top: 50px;
  

}
.Right-Admin-page{
  overflow-y: scroll;
  background-color:rgb(239, 236, 236);
  max-height: 100vh;
  width: 80%;

}
#scrollbar::-webkit-scrollbar {
  width: 10px;
}
#scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.admin-navbar {
  position: sticky;
  z-index: 1;
  background-color:white;
}
.Admin-user-text{
  display: flex;
  width: 100%;
  padding: 5px;
  color:white;

}
.Admin-user-text:hover{
  background-color: #3d3c3c;;
}

.form2{
  /* background-color: #f0c2c2; */
  width: 350px;
  border-radius: 2px;
  
}
.form1{
  width: 350px;
  
}
.form2-input{
  width: 100px;
  
}




.User{
  margin-top: 10px;
  width: 100%;
  /* background-color: #d46565; */
  display: flex;
  justify-content: center;
}
.users-search-card{
  margin-top: 50px;
  width: 60%;
}

.users-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  /* background-color: #fff; */
  align-items: center;
  justify-content: center;
}
.userDetails{
  display: flex;
  /* justify-content: space-between; */
  width:80%;
  height:65px;
  background-color:white;
  /* border: 2px solid black; */
  border-radius: 5px;
  margin: 5px;
}
.wd-nav{
  height: 80px;
}

.main-prod-edit-div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.prod-edit-main-div{
  display: flex;
  
}
.ProdEdit-div{
  background-color: #ee6262;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
  
}

#addprod-input:focus{
  /* border: none; */
  outline: none;
  /* border: 2px solid black; */
}

#prod-add-button{
  background-color: #fff;
  color: black;
  border-color: black;
}
#prod-add-button:hover{
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  transition: all 0.1s ease-out;
  top: -1px;
  border-color: rgb(236, 22, 175);
}

#cart-icon:hover{
  width:33px;
  height:33px;
  transition: all 0.1s ease-out;
  top: -1px;
  
}

.preview-card{
  margin-right: 10px;
  border: 1px solid black;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}